<nav class="navbar">
    <a href="#" class="navbar-logo"><i class="material-icons fas fa-books"></i></a>
    <ul class="navbar-links">
      <li class="navbar-dropdown">
        <a href="#">Estudiantes</a>
        <div class="dropdown">
          <a routerLink="/crear">Crear Estudiante</a>
          <a routerLink="/listar">Listado de Estudiantes</a>
        </div>
      </li>
      <li class="navbar-dropdown">
        <a href="#">Cursos</a>
        <div class="dropdown">
          <a routerLink="/crear-curso">Crear Curso</a>
          <a routerLink="/listado-cursos">Listado de Cursos</a>
        </div>
      </li>
      <li class="navbar-dropdown">
        <a href="#">Profesores</a>
        <div class="dropdown">
          <a routerLink="/creaprofe">Crear Profesor</a>
          <a routerLink="/listprofe">Listado de Profesores</a>
        </div>
      </li>
      <li class="navbar-dropdown">
        <a href="#">Materias</a>
        <div class="dropdown">
          <a routerLink="/creamateria">Crear Materia</a>
          <a routerLink="/listamaterias">Listado de Materias</a>
        </div>
      </li>
    </ul>
  </nav>
 